{:cljdoc.doc/tree [
  ["Readme" {:file "README.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]
  ["Useful mixins" {:file "doc/useful-mixins.md"}]
  ["React interop" {:file "doc/react-interop.md"}]
  ["React Suspense and code-splitting" {:file "doc/react-suspense-and-code-splitting.md"}]
]}
