* { box-sizing: border-box; vertical-align: top; text-rendering: optimizelegibility; }
tr, td, table, tbody { padding: 0; margin: 0; border-collapse: collapse; }

body { font: 16px/20px 'Input Sans Narrow';}

.example { border: 2px solid #ccc; border-radius: 2px; padding: 20px; width: 300px; display: inline-block; }
.example-title { border-bottom: 1px solid #ccc; margin: 0 0 20px; }
